.nav-link:hover {
    background: #ffffff !important;
}

.dropdown-prices {
    padding-top: 9px;
}

.btn-p {
    padding-top: 16px !important;
}

.btn-field {
    font-size: 10px;
    width: 6px;
    height: 40px;
    outline: none !important;
    color: #c5c6c8;
    position: relative;
    margin-top: -9px;
    margin-right: -10px;
}

.custom-file-label::after {
    content: "Выбрать" !important;
}

.full-drop-zone {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    border: 2px dashed rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-align: center;
    z-index: 20;
    background: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, .3);
    font-size: 20px;
}

.full-drop-zone.drop-over {
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.description-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.description {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.file-drop {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    border: 2px dashed #3184F1;
    background: #FEFEFE;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.file-drop .hint {
    color: #b1bccd;
    margin-top: 80px;
    position: relative;
    display: block;
}

.dz-started .hint {
    display: none;
}

.drop-price .dz-success-mark {
    display: none;
}

.drop-price .dz-error-mark {
    display: none;
}

.drop-price .dz-image img {
    display: none;
}

.drop-price .dz-image {
    width: 100%;
    height: 100px;
    background: url("/img/spreadsheet.png") no-repeat center center;
    background-size: 65px 65px;
    opacity: .8;
}

.drop-price .dz-preview {
    display: none;
}

.drop-price .dz-processing {
    display: block;
    margin-top: 15px;
}

#save {
    margin-left: 10px;
}

.swal2-cancel {
    margin-right: 30px;
}

.tristate {
    position: relative;
    display: inline-block;
}

.tristate > input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.tristate > input[type="radio"] + i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.tristate > input[type="radio"] + i, .tristate > input[type="radio"] + i:before, .tristate > input[type="radio"] + i:after {
    transition: all 0.3s;
}

.tristate > input[type="radio"]:first-child {
    z-index: 10;
}

.tristate > input[type="radio"]:first-child:checked {
    z-index: 0;
}

.tristate > input[type="radio"]:checked + input[type="radio"] {
    z-index: 10;
}

.tristate > input[type="radio"]:checked + i + label, .tristate > input[type="radio"]:checked + i + label + label {
    display: none;
}

.tristate > input[type="radio"]:checked + input[type="radio"] + i + label, .tristate > input[type="radio"]:checked + input[type="radio"] + i + label + label + label {
    display: none;
}

.tristate > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i + label + label, .tristate > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i + label + label + label {
    display: none;
}

.tristate-switcher > input[type="radio"] {
    background: #e9ecef;
    border-radius: 50px;
    border: 1px solid rgba(0, 40, 100, 0.12);
    height: 1.25rem;
    width: 2.25rem;
    left: -3px;
    top: -1px;
}

.tristate-switcher > input[type="radio"] + i {
    height: 1.25rem;
    width: 2.25rem;
    margin-top: 2px;
    background: #e9ecef;
    border-radius: 50px;
    border: 1px solid rgba(0, 40, 100, 0.12);
    transition: .3s border-color, .3s background-color;
}

.tristate-switcher > input[type="radio"] + i:before {
    content: ' ';
    position: absolute;
    /*top: -3px;*/
    /*left: -3px;*/
    display: block;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 0px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.tristate-switcher > input[type="radio"]:checked + i {
    background-color: #467fcf;
}

.tristate-switcher > input[type="radio"]:checked + i:before {
    left: calc(1.25rem - 4px);
    background-color: #fff;
}

.tristate-switcher > input[type="radio"]:checked + input[type="radio"] + i:before {
    left: calc(0.8rem - 4px);
}

.tristate-switcher > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i {
    background-color: #f9a19a;
}

.tristate-switcher > input[type="radio"]:checked + input[type="radio"] + input[type="radio"] + i:before {
    background-color: #fff;
}

.btn-table td {
    padding-top: 15px;
}

.ul-checkboxes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-checkboxes ul {
    list-style: none;
    padding-left: 11px;
    margin-left: 7px;
    border-left: 2px dashed #edf2fa;
}

.selectize-dropdown .optgroup-header {
    color: #c2c2c2 !important;
    border-bottom: 1px solid #eeeeee;
}

.selectize-dropdown {
    position: absolute !important;
    z-index: 999;
}

#headerMenuCollapse.header-fixed {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
}

#headerMenuTop.header-fixed {
    margin-bottom: 75px;
}


.sub-day-td-inactive,
.sub-time-td-inactive {
    color: #d6d6d6;
}

.count-label {
    font-size: 14px;
    display: block;
    width: 100%;

}

.count-label span {
    color: #bebebe;
    padding-left: 4px;
    font-size: 10px;

}